@model List<jobSearch.Models.Vacancy>
@{
    ViewData["Title"] = "Главная страница";
}

<header class="site-header text-center size-full" style="background-image: url(/assets/img/bg-banner1.jpg)">
    <div class="container">
        <div class="col-xs-12">
            <br><br>
            <h2>Мы <mark>даём</mark> работу!</h2>
            <h5 class="font-alt">Найди работу мечты за минуты</h5>
            <br><br><br>
            <div class="align-middle">
                <div class="input-keyword">
                    <input type="text" class="form-control" placeholder="Профессия, должность или компания">
                </div>

                <div class="btn-search">
                    <button class="btn btn-primary" type="submit">Найти</button>
                </div>
            </div>
        </div>

    </div>
</header>
<section>
    <div class="container">
        <header class="section-header">
            <span>Latest</span>
            <h2>Recent jobs</h2>
        </header>

        <div class="row item-blocks-connected">
            @foreach (Vacancy vacancy in Model)
            {
                <div class="col-xs-12">
                    <a class="item-block" href="job-detail.html">
                        <header>
                            <img src="assets/img/logo-google.jpg" alt="">
                            <div class="hgroup">
                                <h4>@vacancy.Name</h4>
                                <h5>@vacancy.Firm.Name<span class="label label-success"></h5>
                            </div>
                        </header>

                        <div class="item-body">
                            <p>@vacancy.Description</p>
                        </div>

                        <footer>
                            <ul class="details cols-3">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span>@vacancy.Firm.Adress</span>
                                </li>

                                <li>
                                    <i class="fa fa-money"></i>
                                    <span>@vacancy.Salary</span>
                                </li>
                            </ul>
                        </footer>
                    </a>
                </div>
            }
        </div>

        <br><br>
        <p class="text-center"><a class="btn btn-info" href="job-list.html">Просмотреть все вакансии</a></p>
    </div>
</section>